<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="main-container">
    <div class="spacing"></div>
    <div class="content-container">
        <h1 class="blog-name">BLOG</h1>
        <ul class="all-posts">
            <% for(post of posts) { %>
                <li class="single-post">
                    <h2><%= post.title %></h2>
                    <p><%= post.content %></p>
                    <a class="full-post-link" href="/posts/<%= post.id %>">View Post</a>
                    <hr>
                </li>
            <% } %>
        </ul>

        <form action="/newPost" class="new-post-form">
            <button class="new-post-btn">+</button>
        </form>
    </div>
    
    <div class="spacing"></div>
</div>



<%- include('../partials/footer') %>