<%- include('../partials/head'); %>
<%- include('../partials/navbar') %>

<h1><%= post.title %></h1>

<p><%= post.content %></p>

<div class="options">
    <form action="/posts/<%=post.id%>/edit" method="GET">
        <button class="update-btn option-btn">Update</button>
    </form>

    <form action="/posts/<%=post.id%>" method="DELETE">
        <button class="delete-btn option-btn">Delete Post</button>
    </form>
</div>



<%- include('../partials/footer') %>